*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
header{
    display: block;

}
.htop{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    font-size: 28px;
    font-weight: bold;
    width: 100%;
}

.dfe{
    position: sticky;
    position: -webkit-sticky;
    background-color:white;
    padding-bottom: 30px;
    top: 0;
    z-index: 10;
}

.htop ul{
    list-style: none;
    justify-content: space-around;
}
.htop ul li{
    float: left;
    border-right: 1px solid black;
    padding:4px ;
}
.htop  #bor{
    border-right: none;
}
.hcen{
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;

    
}
.hcen .shop {
display: flex;
flex-wrap: wrap;
}
.hcen .list {
    display: flex;
    background-color: rgba(58,79,98,.07);
    border-radius: 30px;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 7px;
    
    

}
.hcen .list ul{
    list-style: none;
    justify-items: center;
    align-items: center;
    padding-bottom: 7px;
    
}
a {
    text-decoration: none;
    color: black;
}
.hcen .list ul li{
    border: 1px solid black;
    border-radius:30px;
    margin-right: 20px;
    float: left;
    padding: 5px;
}
.hcen .list .li-ser{
    text-align: end;
    border: none;
    margin-left: 200px;
}
.hcen .logo{
    display: flex;
}
.lin{
    justify-content: space-evenly;
    justify-items: right;
    align-items: center;
    margin-right: 50px;
}
.lin ul{
    list-style: none;
    
    justify-content: space-around;
}
.lin ul li{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
}
.lin #all{
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid rgb(9, 9, 14);
}
.lin #l1{
    border-bottom: 2px solid blue;
}
.lin #l2{
    border-bottom: 2px solid orange;
}
.lin #l3{
    border-bottom: 2px solid orangered;
}
.lin #l4{
    border-bottom: 2px solid rgb(18, 12, 54);
}
.lin #l5{
    border-bottom: 2px solid red;
}
.lin #l6{
    border-bottom: 2px solid darkgreen;
}



.srcimg{
    display: none;
}
.imgs{
    width: 90%;
    padding: 5%;
    align-items: center;
}
.bigimg{
    width: 100%;
}
.bigimg img{
    width: 90%;
    height: 400px;
    position: absolute;
}
.butn{
    display: flex;
    width: 99%;
    height: 400px;
    position:relative;
    justify-content: space-between;
    align-items: center;
}
#but_left , #but_right{
    font-size: 40px;
    align-items: center;
    color: rgb(129, 124, 124);
    background-color: transparent;
    border: none;
    height: 6%;
    margin-top: 47%;
    margin-bottom: 47%;
    margin-left: 5px;
    margin-right: 5px;
    
}



.img2{
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img2 img{
    width: 24.5%;
}

.imgmark{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
    
}
.marka{
    display: flex;
    width: 75%;
    align-items: center;
    margin-right: 0px;
}
.img_ma{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
    width: 95%;  
}
.marka button{
    background-color: transparent;
    font-size: 20px;
    border: none;

}
.ti_mar{
    width: 20%;
    margin-left: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: rgb(112, 117, 42);
}
.i2m{
    margin: 2%;
}
.i2m img{
    width: 49.8%;
    
}

#hb{
    margin-right: 30px;
    float: right;
    display: block;
}

#books{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    justify-items: center;
    margin: 10px 30px 10px 30px;
}
.info_book{
    border: 1px solid rgb(129, 123, 123);
    display: block;
    justify-items: center;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    width: 150px;
    height: 320px;
}
.info_book img{
    width: 85%;
    height: 150px;
}
.info_book .add{
    width: 35px;
    height: 35px;
}
.info_book p{
    height: 40px;
}
.info_book a{
    text-decoration: none;
}
.info_book #sal{
    color: red;
}
.info_book #sal span{
    font-size: 10px;
}



/* footer*/
.fot-main{
    background-color: rgb(20, 17, 17);
    color: rgb(97, 90, 90);
    padding:20px 40px 10px 40px;
    
    justify-content: space-between;
    font-weight: bold;
    display: flex;
}
.fot-main a{
    color: rgb(59, 54, 54);

}
.fot-main .df{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    margin-left: 5px;
}

.fot-main .df .fom{
    background-color: rgb(82, 71, 71);
    margin-bottom: 80px;
    padding: 20px;
}
.fom #te{
    display: block;
}
.fot-main  ul{
    list-style: none;
}
.df ul li{
    margin-bottom: 15px;
}
footer h4{
    border-bottom: 1px solid rgb(73, 67, 67);
    display: block;
    text-align: center;
}
.df .do ul{
    list-style: none;
}
.df .do .ic {
    list-style: none;
}
.df .do .ic  li{
    float: left;
    margin: 2px;
}
.do ul li img{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
.fot-last{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px ;
}
.dot-last .db{
    display: flex;
}
.fot-last .db ul{
    list-style: none;
}
.fot-last .db ul li{
    float: right;
    margin: 2px;
}
.fot-last .db .ab{
    border-left: 1px solid black;
}